.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  font-size: 25px !important;
}

Nav {
  font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link  {
  color : #fff !important;
  background-color: #324767 !important;
}

.aLink {
  text-decoration: none;
  color: #333;
}

.cont {
  width: 880px;
  margin: auto;
}

ul {
  list-style: none;
}
.row {
  padding-left: 0;
}

.division {
  vertical-align: middle;
  text-align: center;
  background-color: #f5f5f5 !important;
}
.mainImg {
  width: 100%;
  height: auto;
}

.book {
  margin-bottom: 2rem;
}

.bookImg {
  width: 70%;
  margin: auto;
}

img {
  max-width: 100%;
  /* height: 180px; */
  object-fit: contain;
}

.bookInfo {
  font-size: 0.9rem;
  font-weight: bold;
}

h2, h4 {
  text-align: center;
}
.bookTitle {
  text-align: left;
}

.title {
  justify-content: space-between;
  align-items: center;
}




@media (max-width: 768px){
  .cont {
    width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
